body {
    font-family: 'Cantarell', sans-serif;
    background-color: #fafafa;
    margin: 0;
    /*padding: 20px;*/
    justify-content: center;
    align-items: center;
    color: #444;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #323232;
    font-weight: bold;
}

p { 
  color: rgba(0, 0, 0, 0.5); 
}

#delayMessage {
  font-size: 14px;
}

a { 
  color: #444; 
  font-weight: bold;
  text-decoration: none;
}

a:hover { 
  text-decoration: underline; 
}

form {
    background: #ebebeb;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 2px solid #e8e8e8;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

input[type="date"] {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #e8e8e8;
    border-radius: 16px;
}

select {
    width: 100%;
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 20px;
    background: white;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #de2619;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #c82333;
}

.hidden {
    display: none;
}

#hourChoices {
    display: grid;
    padding: 10px;
    background: #f7f7f7;
    border: 2px solid #e8e8e8;
    border-radius: 16px;
}

#hourChoices div {
    display: flex;
    flex-direction: row;

}

#hourChoices input[type="checkbox"] {
    cursor: pointer;
    accent-color: #cce0f8;
}

#hourChoices label {
    cursor: pointer;
    user-select: none;
    color: #333;
    font-size: 14px;
    font-weight: 100;
}

#hourChoices div:hover {
    background-color: #efefef;
}

#statusContainer {
    display: grid;
    padding: 10px;
    background: #fafafa;
    border-top: 2px solid #e0e0e0;
    border-radius: 0 0 16px 16px;
    
    margin: 0 -20px -20px -20px;
}

.footer {
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.site-header {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 128px;
    height: auto;
    margin-right: 28px;
}

.site-title {
    font-size: 2.2rem;
    color: #333;
    font-weight: 900;
}

.line-container {
    margin-top: 0px;
    padding-bottom: 20px;
}

.blue-line {
    width: 100%;
    height: 16px;
    background-color: #003aa6;
}

.red-line {
    width: 100%;
    height: 8px;
    background-color: #de2619;
    margin-bottom: 5px;
}
